<!DOCTYPE html>
<html>
<head>
  <title>ColorboxRails</title>
  <%= stylesheet_link_tag    "colorbox-rails/application" %>
  <%= javascript_include_tag "colorbox-rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
